{% extends "base.html" %}

{% block dropdown %}
    <div class="dropdown-menu">
        <a class="dropdown-item" href="{% url 'index' %}">Home</a>
      {% if logged_in == True %}
        <a class="dropdown-item" href="{% url 'core:event_user_section' %}">My events!</a>
      {% else %}
        <a class="dropdown-item" href="{% url 'accounts:login' %}">Log in firstly!</a>
      {% endif %}
      {% if permission == 1 %}
        <a class="dropdown-item" href="{% url 'core:event_create' %}">Add an event!</a>
      {% endif %}
    </div>
{% endblock %}



