{% load bootstrap4 %}
{% load static %}

<html {% if LANGUAGE_CODE %}lang="{{ LANGUAGE_CODE }}"{% endif %}>

  <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <title>Event Advisor</title>
      {% block styles %}{% bootstrap_css %}{% endblock %}
      {% block scripts %}{% bootstrap_javascript jquery='full' %}{% endblock %}
  </head>

   <style>
  body {
  background-image: url("/media/trawnik.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
  }

  </style>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
      <div class="container fixed">
       <a class="navbar-brand" href="{% url 'index' %}">
          <img src="/media/logo.png" style="width:400px; height:40px" alt="Event Advisor"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup">
          <span class="navbar-toggler-icon"></span>
        </button>
                <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav">
            <div class="nav-item dropdown">
              <a class="nav-link active dropdown-toggle" href="#" data-toggle="dropdown">
                Events
              </a>
              {% block dropdown %}{% endblock %}
            </div>
            <form class="form-inline my-2 my-lg-0" method="GET" action="{% url 'core:event_search' %}" >
              <input class="form-control mr-sm-2" type="search" name="search">
              <button class="btn btn btn-outline-info my-2 my-sm-0" type="submit"> Search </button>
            </form>
          </div>

          <div class="navbar-nav ml-auto">
            {% if not user.is_authenticated %}
            <a class="nav-item nav-link active" href="{% url 'accounts:signup' %}">
              Registration
            </a>
            {% endif %}
            <div class="nav-item dropdown">
              {% if user.is_authenticated %}
                <a class="nav-link active dropdown-toggle" href="{% url 'accounts:logout' %}" data-toggle="dropdown">
                  {% if user.name %}Hello, {{ user.name }}!
                  {% else %}Hello, {{ user.login_email }}!{% endif %}
                </a>
                <div class="dropdown-menu dropdown-menu-right">
                  <a class="dropdown-item text-right" href="{% url 'accounts:logout' %}">Logout</a>
                  <a class="dropdown-item text-right" href="{% url 'accounts:password_change' %}">Change password</a>
                </div>
              {% else %}
                <a class="nav-item nav-link active" href="{% url 'accounts:login' %}">
                  Sign in
                </a>
                <div class="dropdown-menu dropdown-menu-right">
                  <a class="dropdown-item text-right" href="#">Login</a>
                </div>
              {% endif %}
            </div>
          </div>
        </div>
      </div>
    </nav>
    <div class="container">
      <div class="jumbotron">
        {% block content %}{% endblock %}
      </div>
    </div>
  </body>

<footer class="container">
  <p>&copy; Amadeusz & Tomasz & Mateusz 2020</p>
</footer>
</html>