{% extends "base.html" %}
{% load event_extras %}


{% block dropdown %}
    <div class="dropdown-menu">
        <a class="dropdown-item" href="{% url 'index' %}">Home</a>
      {% if logged_in == True %}
        <a class="dropdown-item" href="{% url 'core:event_user_section' %}">My events!</a>
      {% else %}
        <a class="dropdown-item" href="{% url 'accounts:login' %}">Log in firstly!</a>
      {% endif %}
      {% if permission == 1 %}
        <a class="dropdown-item" href="{% url 'core:event_create' %}">Add an event!</a>
      {% endif %}
    </div>
{% endblock %}

{% block content %}
  <style type="text/css">
  .display-1 {
  font-family: 'Verdana' bold;
  font-size: 42px;
  color: white;
  }

  .display-3 {
  font-family: 'Lucida Sans Unicode';
  font-size: 24px;
  }

  .container {
  font-family: 'Lucida Sans Unicode';
  font-size: 14px;
  text-shadow: 1px 1px
  }

  .about_us {
  background-image: url("/media/cheer-3.jpg");
  background-repeat: no-repeat;
  font-family: 'Verdana', bold;
  font-size: 26px;
  position: relative;
  text-align: center;
  color: #00ff00;
  text-shadow: 2px 2px #ff0000
  }

  .my_events {
  font-family: 'Lucida Sans Unicode';
  font-size: 24px;
  font-weight: bold;
  text-shadow: 1px 1px #ff0000
  }
  </style>
  <div class="jumbotron">
    <div class="about_us">

      <h1 class="display-1">Let's meet there!...</h1>
      <p>Find an amazing event you'd like to join and have fun!</p>
      <p><a class="btn btn-primary btn-lg" href="{% url 'about_us' %}" role="button">About us &raquo;</a></p>

    </div>
  </div>


{% if my_events == True %}
  <h1 class="my_events">Here you have all your events...</h1>
  <br>
{% endif %}

  <div class="container">
    <div class="row">
      {% for event in page_obj %}
        <div class="col-md-4">
          <h1 class="display-3">{% event_title_format event %}</h1>
          <h6>{% event_date_format event %}</h6>
          <p>{% event_description_format event %}</p>
          <p><a class="btn btn-secondary" href="{% url 'core:event_detail' event.pk %}" role="button">View details &raquo;</a></p>
        </div>
      {% endfor %}
    </div>

    <hr>

  </div>

  <nav aria-label="Page navigation example">
    <ul class="pagination">
      {% if page_obj.has_previous %}
        <li class="page-item">
          <a class="page-link" href="?page=1">First</a>
        </li>
        <li class="page-item">
          <a class="page-link" href="?page={{ page_obj.previous_page_number }}">
            Previous
          </a>
        </li>
      {% endif %}
      <li class="page-item active">
        <a class="page-link" href="#">
          Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
        </a>
      </li>
      {% if page_obj.has_next %}
        <li class="page-item">
          <a class="page-link" href="?page={{ page_obj.next_page_number }}">
            Next
          </a>
        </li>
        <li class="page-item">
          <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">
            Last
          </a>
        </li>
      {% endif %}
    </ul>
  </nav>
{% endblock %}