{% extends "base.html" %}
{% load event_extras %}

{% block dropdown %}
  {% if permission == 1 %}
    <div class="dropdown-menu">
      <a class="dropdown-item" href="{% url 'core:event_create' %}">Add an event!</a>
    </div>
  {% endif %}
{% endblock %}

{% block content %}
  <div class="jumbotron">
    <div class="container">
      <h1 class="display-3">Let's meet there!...</h1>
      <p>Find an amazing event you'd like to join and have fun!</p>
      <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more &raquo;</a></p>
    </div>
  </div>

  <div class="container">
    <div class="row">
      {% for event in page_obj %}
        <div class="col-md-4">
          <h2>{% event_title_format event %}</h2>
          <h6>{% event_date_format event %}</h6>
          <p>{% event_description_format event %}</p>
          <p><a class="btn btn-secondary" href="{% url 'core:event_detail' event.pk %}" role="button">View details &raquo;</a></p>
        </div>
      {% endfor %}
    </div>

    <hr>

  </div> <!-- /container -->

  <nav aria-label="Page navigation example">
    <ul class="pagination">
      {% if page_obj.has_previous %}
        <li class="page-item">
          <a class="page-link" href="?page=1">First</a>
        </li>
        <li class="page-item">
          <a class="page-link" href="?page={{ page_obj.previous_page_number }}">
            Previous
          </a>
        </li>
      {% endif %}
      <li class="page-item active">
        <a class="page-link" href="#">
          Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
        </a>
      </li>
      {% if page_obj.has_next %}
        <li class="page-item">
          <a class="page-link" href="?page={{ page_obj.next_page_number }}">
            Next
          </a>
        </li>
        <li class="page-item">
          <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">
            Last
          </a>
        </li>
      {% endif %}
    </ul>
  </nav>
{% endblock %}