{% extends "base.html" %}
{% load event_extras %}

{% block dropdown %}
  {% if permission == 1 %}
    <div class="dropdown-menu">
      <a class="dropdown-item" href="{% url 'core:event_create' %}">Add an event!</a>
    </div>
  {% endif %}
{% endblock %}

{% block content %}
    <img src="{{ event.picture.url }}" class="img-fluid" style="margin:10px 50px" alt="no picture">
  {{ event|attr_as_p:'title' }}
  {{ event|attr_as_p:'date_from' }}
  {{ event|attr_as_p:'date_to' }}
  {{ event|attr_as_p:'place' }}
  {{ event|attr_as_p:'start_time' }}
  {{ event|attr_as_p:'end_time' }}
  {{ event|attr_as_p:'description' }}
  {{ event|attr_as_p:'event_type' }}
{% endblock %}
