{% extends "base.html" %}
{% load event_extras %}

{% block dropdown %}
  {% if permission == 1 %}
    <div class="dropdown-menu">
      <a class="dropdown-item" href="{% url 'core:event_create' %}">Add an event!</a>
    </div>
  {% endif %}
{% endblock %}

{% block content %}
  {% if owner == True %}
    <p><a class="btn btn-secondary" href="{% url 'core:event_update' event.pk %}" role="button">Edit &raquo;</a></p>
  {% endif %}
  {% if event.picture.url != None %}
    <img src="{{ event.picture.url }}" class="img-fluid" style="margin:10px 50px" alt="no picture">
  {% endif %}
  {{ event|attr_as_p:'title' }}
  {{ event|attr_as_p:'date_from' }}
  {{ event|attr_as_p:'date_to' }}
  {{ event|attr_as_p:'place' }}
  {{ event|attr_as_p:'start_time' }}
  {{ event|attr_as_p:'end_time' }}
  {{ event|attr_as_p:'description' }}
  {{ event|attr_as_p:'event_type' }}
  <p>Comments section:</p>

  {% for result in comments %}
  <div class="container">
    <div class="row">
        <div class="col-8">
            <div class="card card-white post">
                <div class="post-heading">
                    <div class="float-left meta">
                        <div class="title h7">
                            <a href="#"><b>{{ result.user }}</b></a>
                        </div>
                        <h6 class="text-muted time">{{ result.created }}</h6>
                    </div>
                </div>
                <div class="post-description">
                    <p>{{ result.comment }}</p>
                </div>
            </div>
        </div>
    </div>
  </div>
  {% endfor %}

<form action="" method="post">
  {% csrf_token %}
  <div class="form-group">
      {{ add_comment }}
  </div>
  <input type="submit" value="Submit" class="btn-success">
</form>


{% endblock %}
