{% extends "base.html" %}
{% load event_extras %}
{% load static %}

{% block dropdown %}
    <div class="dropdown-menu">
        <a class="dropdown-item" href="{% url 'index' %}">Home</a>
      {% if logged_in == True %}
        <a class="dropdown-item" href="{% url 'core:event_user_section' %}">My events!</a>
      {% else %}
        <a class="dropdown-item" href="{% url 'accounts:login' %}">Log in firstly!</a>
      {% endif %}
      {% if permission == 1 %}
        <a class="dropdown-item" href="{% url 'core:event_create' %}">Add an event!</a>
      {% endif %}
    </div>
{% endblock %}

{% block content %}
  {% if owner == True %}
    <p><span><a class="btn btn-warning" href="{% url 'core:event_update' event.pk %}" role="button">Edit &raquo;</a>
    <a class="btn btn-danger" href="{% url 'core:event_delete' event.pk %}" role="button">Delete &raquo;</a></span></p>
  {% endif %}
  {% if event.picture.url != None %}
    <img src="{{ event.picture.url }}" class="img-fluid" alt="no picture"
         style="margin:10px 50px;max-width:400px;width:100%;max-height:300px;height:100%;">
  {% endif %}
    <div class="event-title borderhead" style="font-family:'Verdana';font-size:30px;">
        <b>{{ event.title }}</b>
    </div>
    <style type="text/css">
  body {
  background-image: url("/media/trawnik.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
  }

  table {
  border-collapse: separate;
  border-spacing: 60px 0;
  padding: 10px;
  background: linear-gradient(to top, transparent, white),
  url("https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcS7tbypZjojr4Vq7c_54u2rdFtGiUszLQFHSg&usqp=CAU");
  }

  p.desc {
  overflow-wrap: break-word;
  text-align: justify;
  line-height: 1.6;
  font-family: "Helvetica", Times, serif;
  }

  p.titles {
  text-transform: uppercase;
  font-family: 'Lucida Sans Unicode';
  font-size: 16px;
  letter-spacing: 1px;
  padding: 5px;
  }

  .line {
    top: 0;
    bottom: 0;
    width: 2px;
    background: #99004d;
    z-index: 1;
    }
    </style>
  <table>
    <tr>
    <th>Start date: {{  event.date_from }}</th>
    <th>End date: {{ event.date_to }}</th>
    </tr>
    <tr>
      <td>Start time: {{ event.start_time|time:"H:i" }}</td>
      <td>End time: {{ event.end_time|time:"H:i" }}</td>
    </tr>
  </table>
  <div class="line">
      <p class="titles"><b>Location:</b><br></p></div>
      <p class="desc"> {{ event.place }}</p>
  <div class="line">
      <p class="titles"><b>Description:</b></p></div>
    <p class="desc">{{ event.description }}</p>
  <div class="line">
      <p class="titles"><b>Event type:</b><br></p></div>
    <p class="desc"> {{ event.event_type }} </p>

  {% if logged_in == 1 and subscribed == False %}
    <p><strong>You are still not subscribed for this event...</strong></p>
    <form action="{% url 'core:event_detail' event.pk %}" method="post">
      {% csrf_token %}
      <p>
        <button type='submit' class="btn btn-success">Subscribe &raquo; </button>
      </p>
    </form>
    <p>People attending the event: {{ users_list }} </p>
  {% endif %}
  {% if logged_in == 1 and subscribed == True %}
    <p><strong>You are already subscribed for this event! Great! Enjoy!</strong></p>
    <form action="{% url 'core:event_detail' event.pk %}" method="post">
      {% csrf_token %}
      <p>
        <button type='submit' class="btn btn-success">Unubscribe &raquo; </button>
      </p>
    </form>
    <p>People attending the event: {{ users_list }} </p>
  {% endif %}
  <br>
<link rel="stylesheet" href="{% static 'star-ratings/css/star-ratings.css' %}">
<script type="text/javascript" src="{% static 'star-ratings/js/dist/star-ratings.min.js' %}"></script>
{% load ratings %}
{% ratings object %}
  <div class="line">
    <p class="titles"><b>Comments section:</b></p></div>

  {% for result in comments %}
  <div class="container">
    <div class="row">
        <div class="col-8">
            <div class="card card-white post">
                <div class="post-heading">
                    <div class="float-left meta">
                        <div class="title h7">
                            <a href="#"><b>{{ result.user }}</b></a>
                        </div>
                        <h6 class="text-muted time">{{ result.created }}</h6>
                    </div>
                </div>
                <div class="post-description">
                    <p>{{ result.comment }}</p>
                </div>
            </div>
        </div>
    </div>
  </div>
  {% endfor %}
<form action="{% url 'core:event_comments' event.pk %}" method="post">
  {% csrf_token %}
  <div class="form-group">
      {{ add_comment }}
  </div>
  <input type="submit" value="Submit &raquo;" class="btn btn-success">
</form>
</body>

{% endblock %}
